<%include ../partials/header %>

<header class="my-4 text-center">
        <h1>Make new Pop</h1>
</header>
<div class="container" >
<!-- sends form to campground -->
<div class="row" style="margin: 0 auto;">
        <form id="new-pop-input" class="mx-auto" action="/pops" method="POST">
            <div class="form-group">
                <label for="descInput"></label>
                <textarea class="col-sm-12 col-lg-12" type="text" name="poptext" placeholder="Pop Text" maxlength="150" required></textarea>
            </div>
            <p id="characters-left"><small><span id="characters-left-span"></span> CHARACTERS REMAINING</small></p>
            <button type="submit" class="btn btn-danger btn-block my-2">SUBMIT</button>
        </form>

</div>
<p class="text-center">
        <a href="/pops">Go Back</a>
</p>

</div>




<%include ../partials/footer %>