<%include ../partials/header %>

<header class="jumbotron text-center">
        <h1>Add Comment to <%= pop.name %></h1>
</header>
<div class="container" >
<!-- sends form to campground -->
<div class="row" style="margin: 0 auto;">
        <form class="mx-auto" action="/pops/<%= pop._id%>/comments" method="POST">
            <div class="form-group">
                <label for="nameInput"></label>
                <input class="col-sm-12 col-lg-12" id="nameInput" type="text" name="comment[text]" placeholder="Comment">
            </div>
            <button type="submit" class="btn btn-primary btn-block">SUBMIT</button>
        </form>

</div>
<p class="text-center">
        <a href="/pops">Go Back</a>
</p>

</div>




<%include ../partials/footer %>