<% include ./partials/header %>

    <div class="container">
        <h1 class="text-center">TwitClone</h1>
    </div>
    <p class="text-center">
        <a href="/pops" class="btn btn-danger">View Pops</a>
    </p>
    
<% include ./partials/footer %>