:root{
    --main-red-color: #d9534f;
    --main-grey-color: #f5f5f5;
}
html, body{
    width: 100%;
}
body{
    background-color: var(--main-grey-color);
}
/* logo styles */
.logo{
    height: 50px;
    width: auto;
    display: block;
    margin: 0 auto;
}

/* button styles */
.btn-red{
    background: var(--main-red-color);
    color: #fff;
}
.btn-red:hover{
    background: #fff;
    color: var(--main-red-color);
}
.btn-white{
    background: #fff;
    color: var(--main-red-color);
    border: 1px solid #d9534f;
}
.btn-white:hover{
    background: var(--main-red-color);
    color: #fff;
}
/* div styles */

#left{
    width: 60%;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}
#outer-right{
    background-color: var(--main-red-color);
    color: white;
}
#right{
    width: 60%;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}
.create-date{
    font-size: 70%;
}
#edit-btn, #delete-btn-form, #reply-btn{
    display: inline;
}
#new-pop-textarea{
    margin-bottom: -17px;
}
#characters-left{
    margin-top: -20px;
}
#edit-btn-link, #show-delete, #reply-btn-link{
    border: none;
}
#profile-submit{
    display: block;
}
#footer{
    padding: 0;
    color: #fff;
    background: #d9534f;
}
