<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TwittClone. WYD?</title>
    <link rel="icon" type="image/png" href="../images/cobra.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <div class="row">
        <div id="outer-left" class="col-md-6">
            <div id="left">
                <div class="row">
                    <div class="col-md-6">
                        <p id="btn-para">
                            <a href="/login" class="btn btn-white">Log in</a>
                        </p>

                    </div>
                    <div class="col-md-6 container-fluid">
                        <img src="../images/cobra.png" alt="Logo" class="img-fluid logo">
                    </div>
                </div>
                <div class="row">
                    <h3 id="header">
                        Tell us what's going on right now
                    </h3>
                </div>
                <div class="row">
                    <h6>
                        Join TwitClone today.
                    </h6>
                    <a href="/signup" class="btn btn-block btn-red">Sign up</a>
                    <a href="/login" class="btn btn-block btn-white">Log in</a>
                </div> 
            </div>
        </div>
        <div id="outer-right" class="col-md-6">
            <div id="right">
                <h5 class="py-2 px-0"> <i class="fas fa-search"></i> Follow other people.</h5>
                <h5 class="py-2 px-0"> <i class="far fa-user"></i> See what people are discussing.</h5>
                <h5 class="py-2 px-0"> <i class="far fa-comment-alt"></i> Discuss it too.</h5>
            </div>
        </div>
    </div>
</body>
</html>